<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Liste des utilisateurs</title>
</head>
<body>
<span>Liste des utilisateurs</span>
<table>
    <thead>
    <tr>
        <th> Mail </th>
        <th> Nom </th>
        <th> Prénom </th>
        <th> Pseudonyme </th>
    </tr>
    </thead>
    <tbody>
    <tr th:if="${listeUtilisateursHTML.empty}">
        <td colspan="2"> Pas de user dispo t'as vu </td>
    </tr>
    <tr th:each="utilisateur : ${listeUtilisateursHTML}">
        <td><span th:text="${utilisateur.addr_mail}"> Mail </span></td>
        <td><span th:text="${utilisateur.nom}"> Nom </span></td>
        <td><span th:text="${utilisateur.prenom}"> Prénom </span></td>
        <td><span th:text="${utilisateur.pseudo}"> Pseudo </span></td>
    </tr>



    </tbody>


</table>
</body>
</html>